body {
  font-family: Tahoma;
  background-image: url(../img/background.jpg);
  background-repeat: repeat-x;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
}
.logo {
  float: left;
  position: relative;
  margin: 10px 0 0 28px;
}
.logo span {
  position: absolute;
  top: 100px;
  left: 70px;
  font-size: 12px;
  color: #128aa7;
}
.contacts {
  float: right;
  margin-right: 34px;
}
.contacts :first-child {
  padding: 11px 0;
  font-weight: bold;
}
.contacts li {
  padding-bottom: 7px;
  font-size: 12px;
  color: #128aa7;
}
.contries {
  clear: right;
  float: right;
  margin: 20px 34px 0 0;
}
.contries li {
  display: inline-block;
  width: 55px;
  text-align: center;
}
.contries a {
  text-decoration: underline;
  font-size: 10px;
  color: #128aa7;
}
.photo {
  clear: both;
}
.photo img {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.menu {
  position: relative;
  padding-left: 58px;
  height: 28px;
  border-bottom: 1px solid #000;
  background: #303030; /* Old browsers */
  background: -moz-linear-gradient(top,  #303030 0%, #373737 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #303030 0%,#373737 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #303030 0%,#373737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#373737',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
}
.main {
  display: block;
}
.main::after {
  display: block;
  content: '';
  float: none;
  clear: both;
}
.main > li {
  float: left;
  position: relative;
}
.main > li > a {
  display: block;
  padding: 0 45px 0 9px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
}
.main span {
  font-size: 12px;
}
.submenu {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  border-top: 1px solid #000;
  background-color: #303030;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}
.submenu li {
  display: block;
}
.submenu a {
  display: block;
  line-height: 29px;
  padding: 0 45px 0 9px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.main > li:hover > .submenu {
  display: block;
}
.content {
width: 1000px;
overflow: hidden;
}
.center {
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  float: left;
  width: 580px;
}
.left {
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  width: 208px;
  float: left;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  background-color: #edeef0;
  text-align: center;
  font-size: 14px;
  color: #424c43;
}
.right {
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  width: 208px;
  float: right;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  background-color: #edeef0;
  text-align: center;
  font-size: 14px;
  color: #424c43;
}
.right span,
.left span {
  display: block;
  padding: 10px 0 5px 0;
  font-weight: bold;
}
.left p,
.right p {
  line-height: 25px;
}
.footer {
  clear: both;
  margin-top: 3px;
  height: 31px;
  text-align: center;
  background-color: #0c739f;
}
.footer span {
  margin: 0 auto;
  line-height: 31px;
  font-size: 12px;
  color: #fff;
}
